{% extends 'base.html' %}
{% block body %}
<h1 class="text-center">Login Form</h1>
<form method="post" class="container p-5 align-text-center text-center">
    <div class="py-3">
        <label for="email">Email Id:</label>
        <input type="email" name="email" id="email" />
    </div>
    <div class="py-3">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
    </div>
    <input type="submit" value="submit" />
</form>
{% endblock body %}